* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-roboto: "Roboto", sans-serif;

  --color-green-900: #0094a4;
  --color-green-800: #9bd9e0;
  --color-green-700: #def7f9;

  --color-orange-900: #ffa100;
  --color-orange-800: #f5e3a4;
  --color-orange-700: #fff7e1;

  --color-red-900: #d32e31;
  --color-red-800: #e4acad;
  --color-red-700: #ffebed;

  --default-spacing: 16px;
}

body {
  font-family: var(--font-family-roboto);
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--default-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--default-spacing);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-spacing);
}

.cards .card {
  --local-spacing: 20px;
  flex: 1 0 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: var(--local-spacing);
}

.cards .card .card-title {
  width: 100%;
  text-align: center;
  padding: 8px;
  border-bottom: 2px solid #000000;
  font-size: 20px;
  font-weight: 500;
}

.cards .card .card-icon {
  font-size: 40px;
  margin-block: var(--local-spacing);
}

.cards .card .card-description {
  font-size: 18px;
}

.cards.cards-green .card,
.cards.cards-green .card .card-title {
  border-color: var(--color-green-800);
}
.cards.cards-green .card {
  color: var(--color-green-900);
}
.cards.cards-green .card .card-title {
  background-color: var(--color-green-700);
}

.cards.cards-orange .card,
.cards.cards-orange .card .card-title {
  border-color: var(--color-orange-800);
}
.cards.cards-orange .card {
  color: var(--color-orange-900);
}
.cards.cards-orange .card .card-title {
  background-color: var(--color-orange-700);
}

.cards.cards-red .card,
.cards.cards-red .card .card-title {
  border-color: var(--color-red-800);
}
.cards.cards-red .card {
  color: var(--color-red-900);
}
.cards.cards-red .card .card-title {
  background-color: var(--color-red-700);
}

.fa-dumbbell.fa-dumbbell-45deg {
  rotate: 45deg;
}
